@import "tailwindcss";
@import 'swiper/css';
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@keyframes aurora {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50% ;}
  100% {background-position: 0% 50%;}
}

.aurora-bg{
  background: linear-gradient(-45deg, rgba(34,197,94,0.6), rgba(16,185,129,0.6), rgba(34,150,105,0.6), rgba(34,197,94,0.6));
  background-size: 400% 400%;
  animation: aurora 15s ease infinite;
}

.bg-aurora{
  background-image: url('/images/slide1.JPG');
  background-size: cover;
  background-position: center;
}

@keyframes fadeUp {
  0% {opacity: 0; transform: translateY(30px);}
  100% {opacity: 1; transform: translateY(0);}
}

.fade-up{
  animation: fadeUp 1s ease forwards;
}

.glow-ring {
  transition: all 0.3s ease;
}

.glow-ring:hover,
.glow-ring:focus {
  box-shadow: 0 0 15px 3px rgba(99,102,241,0.7);
  animation: glow 2s ease-in-out infinite;
}

@keyframes spin-gradient {
  from {
    transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
}

.gradient-ring {
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  overflow: hidden;
}

.gradient-ring::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: conic-gradient(from 0deg, #ff00ff,#00ffff, #00ff00, #ffff00, #ff0000, #ff00ff);
  animation: spin-gradient 3s linear infinite;
}

.gradient-ring::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #0f482e;
  border-radius: 9999px;
  z-index: -1;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}